.row {
    height:50vh;
}
:root{
    --inframe-scaler: 5;

}
.iframe-viewer{
    position: relative;
    margin:auto;
    height:calc(70px*var(--inframe-scaler) + 52px);
    width:calc(140px*var(--inframe-scaler) + 32px);
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
    height:inherit;
}